.container {
  margin: 112px 24px 32px 24px;
}

.lista-filmes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.loading {
  text-align: center;
}

.lista-filmes article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 340px;
  background: #333;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 10px 10px 24px rgba(0,0,0, 0.25);
}

.lista-filmes article h1 {
  text-align: center;
  height: 100%;
}

.lista-filmes article img {
  width: 100%;
  border-radius: 8px;
}

.lista-filmes article a {
  text-decoration: none;
  background: #1c79c5;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  margin-top: 8px;
}

.lista-filmes article a:hover {
  transform: scale(0.98);
}

@media (max-width: 728px) {
  .lista-filmes article {
    max-width: unset;
  }
}